In [ ]:
#hide
from pplyr.core import *
import pandas as pd

# pplyr

> use the R dplyr package with python

## Install

`pip install pplyr`

## How to use

Create a dplyr command and call pplyr(df, cmd):

In [ ]:
df = pd.read_csv("iris.csv", index_col=0)
print(df)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
cmd = """
df %>% group_by(Sepal.Length, Species) %>% summarize(n = n()) %>% arrange(-n)
"""

df = pplyr(df, cmd)
print(df)

    Sepal.Length     Species  n
0            5.0      setosa  8
1            5.1      setosa  8
2            6.3   virginica  6
3            4.8      setosa  5
4            5.4      setosa  5
5            5.5  versicolor  5
6            5.6  versicolor  5
7            5.7  versicolor  5
8            6.4   virginica  5
9            6.7   virginica  5
10           4.6      setosa  4
11           4.9      setosa  4
12           6.0  versicolor  4
13           6.1  versicolor  4
14           6.5   virginica  4
15           7.7   virginica  4
16           4.4      setosa  3
17           5.2      setosa  3
18           5.8  versicolor  3
19           5.8   virginica  3
20           6.3  versicolor  3
21           6.7  versicolor  3
22           6.9   virginica  3
23           7.2   virginica  3
24           4.7      setosa  2
25           5.0  versicolor  2
26           5.5      setosa  2
27           5.7      setosa  2
28           5.9  versicolor  2
29           6.0   virginica  2
30           6.1   virginica  2
31           6.2  versicolor  2
32           6.2   virginica  2
33           6.4  versicolor  2
34           6.6  versicolor  2
35           6.8   virginica  2
36           4.3      setosa  1
37           4.5      setosa  1
38           4.9  versicolor  1
39           4.9   virginica  1
40           5.1  versicolor  1
41           5.2  versicolor  1
42           5.3      setosa  1
43           5.4  versicolor  1
44           5.6   virginica  1
45           5.7   virginica  1
46           5.8      setosa  1
47           5.9   virginica  1
48           6.5  versicolor  1
49           6.8  versicolor  1
50           6.9  versicolor  1
51           7.0  versicolor  1
52           7.1   virginica  1
53           7.3   virginica  1
54           7.4   virginica  1
55           7.6   virginica  1
56           7.9   virginica  1