In [ ]:
#hide

# pplyr

> pplyr lets you use dplyrs grammar of data manipulation from within python without any code changes.
    
>pplyr writes a dataframe to csv, creates an R script with your dplyr code. The result is then returned as a pandas Dataframe.
    
>For now, the dataframe passed to R is stored as "df" within R. This might change in future versions.
>By default, pplyr uses R's read.csv() and write.csv() functions. These functions are notoriously slow. If you deal with larger dataframes, make sure to install the "data.tables" R package and pass fread = True to pplyr to speed up read/write operations.
    
>See https://fdewes.github.io/pplyr/ for docs.

## Install

`pip install pplyr`

## How to use

Create a dplyr command and call pplyr(df, dplyr_code):

In [ ]:
from pplyr.core import pplyr
import pandas as pd

df = pd.read_csv("iris.csv", index_col=0)

In [ ]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df = pd.read_csv("iris.csv", index_col=0)

dplyr = """

df = df %>% group_by(Species) %>% summarize_all(list(mean = mean)) %>% select(-X_mean)

"""

df = pplyr(df, dplyr)

In [ ]:
df

,Species,Sepal.Length_mean,Sepal.Width_mean,Petal.Length_mean,Petal.Width_mean
1,setosa,5.006,3.428,1.462,0.246
2,versicolor,5.936,2.770,4.260,1.326
3,virginica,6.588,2.974,5.552,2.026